@import "compass/css3";
@import "bootstrap";
@import "bootstrap-responsive";

body {
	padding-top: 60px;
}
#pdxgear {
	.hide {
		display: none;
	}
	#loading {
		margin: auto;
		float: none;
		min-height: 600px;
		padding-top: 200px;
	}
}
.thumbnails {
	list-style: none;
	> li {
		float: left;
		vertical-align: top;
		&.span3{
			//margin: 5px;
		}
		&:nth-child(4n+1){
			margin-left: 0px;
		}
	}
	.thumbnail {
		.info {
			height: 50px;
			overflow: hidden;
		}
	}
}
